@if (vm$ | async; as vm) {
    <div class="flex flex-col gap-4 w-[256px] p-4 bg-neutral-100">
        <div class="flex items-center gap-4">
            <app-avatar [name]="vm.user.fullName" />
            <div class="max-w-full overflow-hidden flex flex-col">
                <div class="text-ellipsis overflow-hidden whitespace-nowrap">
                    {{ vm.user.fullName }}
                </div>
                <div class="text-xs opacity-60">
                    {{ vm.user.email }}
                </div>
            </div>
        </div>
        <app-button variant="secondary" text="View profile" />
    </div>
}
