@if (vm$ | async; as vm) {
    <div class="flex flex-col gap-4 w-[256px] p-4 border-b bg-neutral-100">
        <div class="flex items-center gap-4">
            <app-avatar color="primary" [name]="vm.user.fullName" />
            <div class="max-w-full overflow-hidden flex flex-col">
                <div class="truncate">
                    {{ vm.user.fullName }}
                </div>
                <div class="text-xs opacity-60">
                    {{ vm.user.email }}
                </div>
            </div>
        </div>
        <app-button color="neutral" variant="semitransparent" text="View profile" />
    </div>
}
