<div class="max-w-3xl mx-auto p-10 flex flex-col gap-10">
    <h1>Subjects</h1>

    <article>
        <h2>What is Subject in RxJS?</h2>
        <p>
            It's a special type of Observable that can also act as an Observer. This means it can both emit data (like
            an Observable) and receive data (like an Observer).
        </p>
    </article>

    <blockquote>
        Consider a newsletter service. The newsletter service is like a Subject. It can send out newsletters (emit data)
        to all its subscribers. Subscribers (Observers) can receive these newsletters.
        <br><br>
        Now, let's say the newsletter service allows its subscribers to contribute articles. Subscribers can send their
        articles to the newsletter service (Subject), and the service can then include these articles in the next
        newsletter and send it out to all subscribers.
        <br><br>
        In this analogy, the newsletter service (Subject) is both emitting data (sending newsletters) and receiving data
        (receiving articles from subscribers). This is similar to how a Subject in RxJS can both emit data to its
        subscribers and receive data from them.
    </blockquote>

    <hr>

    <article>
        <h2>Subject <i>vs</i> Observable</h2>
        <p>
            A regular Observable can only emit data but not receive it. Subject is capable of both emitting data and
            also receiving the data.
        </p>
    </article>

    <hr>

    <article>
        <h2>Types of Subject</h2>
        <p>
            In RxJS, there are 4 types of subjects:
        </p>
        <ol class="list-decimal text-subtle pl-4 flex flex-col gap-2">
            <li>
                <a href="/rxjs/subjects/subject">Subject</a>: This is the basic type. It allows values to be multicasted to many Observers. When a
                value is emitted, it will be passed to all the subscribers.
            </li>
            <li>
                <a href="/rxjs/subjects/reply-subject">ReplySubject</a>: This variant of Subject records multiple values from the Observable execution and
                replays them to new subscribers.
            </li>
            <li>
                <a href="/rxjs/subjects/behavior-subject">BehaviorSubject</a>: This is a variant of Subject that requires an initial value and emits its
                current value (last emitted item) to new subscribers.
            </li>
            <li>
                <a href="/rxjs/subjects/async-subject">AsyncSubject</a>: This is another variant of Subject, that emits the last value (and only the last
                value) emitted by the source Observable, and only after that source Observable completes.
            </li>
        </ol>
    </article>
</div>
