<div class="page-container page-container--exercise">
    <app-user-story>
        <ng-template #title> Exercise 0-1 </ng-template>
        <ng-template #description>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia magnam
            quasi libero laborum atque cumque distinctio esse a ratione. Animi adipisci
            esse autem dolor sed porro unde ut voluptatum ipsa.
        </ng-template>
        <ng-template #acceptanceCriteria>
            <li>???</li>
            <li>???</li>
            <li>???</li>
        </ng-template>
    </app-user-story>

    <div class="exercise-container">
        <div class="flex-1 flex flex-col items-center justify-center font-semibold">
            <ng-container *ngIf="output$ | async; let output; else: loading">
                {{ output }}
            </ng-container>
            <ng-template #loading>
                <mat-icon
                    icon="progress_activity"
                    class="text-brand animate-spin"></mat-icon>
            </ng-template>
        </div>
    </div>
</div>
