// Colors

$color-neutralDark-solid-1100: #dee4ea;
$color-neutralDark-solid-1000: #c7d1db;
$color-neutralDark-solid-900: #b6c2cf;
$color-neutralDark-solid-800: #9fadbc;
$color-neutralDark-solid-700: #8c9bab;
$color-neutralDark-solid-600: #738496;
$color-neutralDark-solid-500: #596773;
$color-neutralDark-solid-400: #454f59;
$color-neutralDark-solid-350: #454f59;
$color-neutralDark-solid-300: #2c333a;
$color-neutralDark-solid-250: #282e33;
$color-neutralDark-solid-200: #22272b;
$color-neutralDark-solid-100: #1d2125;
$color-neutralDark-solid-0: #161a1d;
$color-neutralDark-solid--100: #101214;

$color-neutralDark-alpha--100: transparentize(#030404, 0.74);
$color-neutralDark-alpha-100: transparentize(#bcd6f0, 0.96);
$color-neutralDark-alpha-200: transparentize(#a1bdd9, 0.92);
$color-neutralDark-alpha-250: transparentize(#c8e1f9, 0.9);
$color-neutralDark-alpha-300: transparentize(#a6c5e2, 0.84);
$color-neutralDark-alpha-350: transparentize(#c3defe, 0.8);
$color-neutralDark-alpha-400: transparentize(#bfdbf8, 0.72);
$color-neutralDark-alpha-500: transparentize(#9bb4ca, 0.5);

$color-purple-1000: #2b2451;
$color-purple-900: #352c63;
$color-purple-800: #5e4db2;
$color-purple-700: #6e5dc6;
$color-purple-600: #8270db;
$color-purple-500: #8f7ee7;
$color-purple-400: #9f8fef;
$color-purple-300: #b8acf6;
$color-purple-200: #dfd8fd;
$color-purple-100: #f3f0ff;

$color-blue-1000: #092957;
$color-blue-900: #09326c;
$color-blue-800: #0055cc;
$color-blue-700: #0c66e4;
$color-blue-600: #1d7afc;
$color-blue-500: #388bff;
$color-blue-400: #579dff;
$color-blue-300: #85b8ff;
$color-blue-200: #cce0ff;
$color-blue-100: #e9f2ff;

$color-yellow-1000: #3f3102;
$color-yellow-900: #533f04;
$color-yellow-800: #7f5f01;
$color-yellow-700: #946f00;
$color-yellow-600: #b38600;
$color-yellow-500: #cf9f02;
$color-yellow-400: #e2b203;
$color-yellow-300: #f5cd47;
$color-yellow-200: #f8e6a0;
$color-yellow-100: #fff7d6;

$color-orange-1000: #4a2b0f;
$color-orange-900: #5f3811;
$color-orange-800: #974f0c;
$color-orange-700: #b65c02;
$color-orange-600: #d97008;
$color-orange-500: #f18d13;
$color-orange-400: #faa53d;
$color-orange-300: #fec57b;
$color-orange-200: #ffe2bd;
$color-orange-100: #fff4e5;

$color-red-1000: #4f1c16;
$color-red-900: #601e16;
$color-red-800: #ae2a19;
$color-red-700: #ca3521;
$color-red-600: #e34935;
$color-red-500: #ef5c48;
$color-red-400: #f87462;
$color-red-300: #ff9c8f;
$color-red-200: #ffd2cc;
$color-red-100: #ffedeb;

$color-green-1000: #143c2b;
$color-green-900: #164b35;
$color-green-800: #216e4e;
$color-green-700: #1f845a;
$color-green-600: #22a06b;
$color-green-500: #2abb7f;
$color-green-400: #4bce97;
$color-green-300: #7ee2b8;
$color-green-200: #baf3db;
$color-green-100: #dffcf0;
