// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Material Symbols
@import '/src/assets/fonts/MaterialSymbols/material-symbols.scss';

// Angular Material CDK
@import '@angular/cdk/overlay-prebuilt.css';

:root {
    --scrollbar-color: theme('backgroundColor.zinc.50');
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
    background: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb {
    background: theme('backgroundColor.zinc.800');
    border: 6px solid var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
    border-width: 4px;
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar-color);
}

body {
    @apply bg-neutral-50 text-neutral-800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-bold leading-snug;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

h5 {
    @apply text-base;
}

h6 {
    @apply text-sm;
}

.form-input,
.form-textarea,
.form-select,
.form-multiselect {
    border-width: theme('borderWidth.DEFAULT');
    border-color: theme('borderColor.DEFAULT');
    border-radius: theme('borderRadius.DEFAULT');
}

.form-input.ng-dirty.ng-invalid,
.form-textarea.ng-dirty.ng-invalid,
.form-select.ng-dirty.ng-invalid,
.form-multiselect.ng-dirty.ng-invalid {
    border-color: theme('borderColor.danger');
}
