// Tailwind CSS
@tailwind base;
@tailwind components;
@tailwind utilities;

// Material Symbols
@import '/src/assets/fonts/MaterialSymbols/material-symbols.scss';

// Angular Material CDK
@import '@angular/cdk/overlay-prebuilt.css';

// App Themes
@import './default-theme.scss';

::-webkit-scrollbar {
    width: theme('borderWidth.4');
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: theme('backgroundColor.surface.overlay.default');
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    @apply bg-surface-sunken-default text-default text-base;
}

h1 {
    @apply text-h700 font-semibold;
}

h2 {
    @apply text-h500 font-semibold;
}

h3 {
    @apply text-h300 font-semibold;
}

a {
    @apply relative no-underline font-bold text-link-default hover:underline hover:text-link-pressed active:text-link-pressed;
}

blockquote {
    @apply relative flex flex-col gap-4 italic py-3 px-6 border-l-4 border-default text-subtle;
}

hr {
    @apply border-default;
}

article {
    @apply flex flex-col gap-2;
}

article > *:not(h1, h2, h3, h4, h5, h6) {
    @apply text-subtle;
}

.cdk-dialog-container {
    @apply border border-default shadow rounded bg-surface-raised-default;
}
