<nav class="flex items-center bg-green-600 text-white select-none">
    <div
        class="flex-1 flex gap-4 items-center justify-between max-w-screen-2xl mx-auto py-4 px-10">
        <div class="flex gap-1">
            <span class="font-bold">CODESIGN</span>
            <span class="opacity-80">Logistics</span>
        </div>
        <div class="flex gap-6">
            <div class="flex gap-2">
                <app-navbar-balance-widget></app-navbar-balance-widget>
                <app-navbar-company-widget></app-navbar-company-widget>
            </div>
            <div class="flex gap-1">
                <app-navbar-widget
                    [text]="null"
                    icon="person"
                    (actionClicked)="handleUserAccount()">
                </app-navbar-widget>
                <app-navbar-widget
                    [text]="null"
                    icon="settings"
                    (actionClicked)="handleSettings()">
                </app-navbar-widget>
                <app-navbar-widget
                    [text]="null"
                    icon="menu"
                    (actionClicked)="handleMenu()">
                </app-navbar-widget>
            </div>
        </div>
    </div>
</nav>
