@if(viewModel$ | async; as viewModel){
@if(viewModel.company){
<app-navbar-widget [cdkMenuTriggerFor]="menu" [loading]="viewModel.balance.processing">
    @if(viewModel.balance.showThresholdWarning) {
    <mat-icon class="animate-pulse text-icon-warning" icon="warning"></mat-icon>
    }
    Balance: {{ viewModel.balance.currentAmount | currency }}
    <mat-icon icon="arrow_drop_down"></mat-icon>
</app-navbar-widget>

<ng-template #menu>
    <div class="balance-menu" cdkMenu>
        @if(viewModel.balance.showAllocatedWarning){
        <div class="flex flex-col gap-2 p-4 bg-warning-default">
            <div class="flex justify-between font-medium text-warning">
                <span>Allocated:</span>
                <span>
                    {{ viewModel.balance.allocatedAmount | currency }}
                </span>
            </div>
            <div class="text-small opacity-60">
                The amount reserved for the pending requests, that are not approved
                yet.
            </div>
        </div>
        }
        <div class="balance-menu-items">
            @for(action of actions; track action.label) {
            <button class="balance-menu-item" cdkMenuItem (cdkMenuItemTriggered)="action.execute(viewModel.company)">
                <mat-icon [icon]="action.icon"></mat-icon>
                {{ action.label }}
            </button>
            }
            <button class="balance-menu-item" cdkMenuItem disabled>
                <mat-icon icon="history"></mat-icon>
                Transactions history
            </button>
            <button class="balance-menu-item" cdkMenuItem disabled>
                <mat-icon icon="notifications_active"></mat-icon>
                Balance warnings
            </button>
        </div>
    </div>
</ng-template>
}
}
