<ng-container *ngIf="viewModel$ | async; let viewModel; else: loadingTemplate">
    <app-navbar-widget [cdkMenuTriggerFor]="menu" [loading]="viewModel.loading">
        {{ viewModel.company.name }}
        <mat-icon icon="arrow_drop_down"></mat-icon>
    </app-navbar-widget>

    <ng-template #menu>
        <div class="example-menu" cdkMenu>
            <ng-container *ngFor="let company of viewModel.companies.data">
                <button
                    class="example-menu-item"
                    [ngClass]="{
                        'example-menu-item--selected':
                            viewModel.company.id === company.id
                    }"
                    cdkMenuItem
                    (cdkMenuItemTriggered)="switchCompany(company.id)">
                    <span>{{ company.name }}</span>
                    <span>{{ company.email }}</span>
                </button>
            </ng-container>
        </div>
    </ng-template>
</ng-container>

<ng-template #loadingTemplate>
    <app-navbar-widget [disabled]="true">
        <mat-icon icon="progress_activity" class="animate-spin"></mat-icon>
    </app-navbar-widget>
</ng-template>
