@if (viewModel$ | async; as viewModel) {
@if(viewModel.activeCompany){
<app-navbar-widget [cdkMenuTriggerFor]="menu" [loading]="viewModel.processing">
    {{ viewModel.activeCompany.name }}
    <mat-icon icon="arrow_drop_down"></mat-icon>
</app-navbar-widget>

<ng-template #menu>
    <div class="example-menu" cdkMenu>
        @for(company of viewModel.linkedCompanies; track company.id) {
        <button class="example-menu-item" [ngClass]="{
                                    'example-menu-item--selected':
                                        viewModel.activeCompany.id === company.id
                                }" cdkMenuItem (cdkMenuItemTriggered)="switchCompanyAction.execute(company)">
            <span>{{ company.name }}</span>
            <span>{{ company.email }}</span>
        </button>
        }
    </div>
</ng-template>
}
}
