<app-navbar-widget
    icon="menu"
    [text]="null"
    [cdkMenuTriggerFor]="menu"
    [cdkMenuPosition]="[
        {
            originX: 'end',
            originY: 'bottom',
            overlayX: 'end',
            overlayY: 'top',
            offsetY: 4
        }
    ]" />

<ng-template #menu>
    <app-menu cdkMenu>
        <app-menu-header>
            <app-user-account-preview />
        </app-menu-header>
        <app-menu-option icon="support" cdkMenuItem>Help Center</app-menu-option>
        <app-menu-option icon="settings" cdkMenuItem>Preferences</app-menu-option>
        <app-menu-separator />
        <app-menu-option icon="description" cdkMenuItem>
            Terms & Conditions
        </app-menu-option>
        <app-menu-separator />
        @if (!signOutAction.hidden()) {
            <app-menu-option
                [icon]="signOutAction.icon"
                [disabled]="signOutAction.disabled() || signOutAction.processing()"
                (cdkMenuItemTriggered)="signOutAction.execute()"
                cdkMenuItem>
                {{ signOutAction.label }}
            </app-menu-option>
        }
    </app-menu>
</ng-template>
