<div class="max-w-3xl mx-auto p-10 flex flex-col gap-10">
    <h1>Introduction to RxJS</h1>

    <hr>

    <article>
        <h2>What is Reactive Programming?</h2>
        <p>
            Reactive Programming is a programming paradigm that deals with asynchronous data streams
            (sequences of events) and the propagation of change. It involves using Observables, which are data streams,
            and using functions to operate on and transform these streams.
        </p>
    </article>

    <hr>

    <article>
        <h2>When to use RxJS?</h2>
    </article>

    <hr>

    <article>
        <h2>Useful links</h2>
    </article>
</div>
