<div class="flex flex-col gap-6 p-6">
    <div class="flex flex-col gap-2">
        <h2>Select amount</h2>
        <p class="max-w-lg text-subtle">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, nobis accusantium sequi
            deseru ntmagni.
        </p>
    </div>
    <div class="grid grid-cols-3 grid-rows-2 gap-1">
        @for(amount of _amounts; track amount) {
        <label
            class="inline-flex items-center justify-center gap-2 rounded p-4 bg-inversed-default hover:bg-inversed-hovered active:bg-inversed-pressed select-none cursor-pointer">
            <input hidden type="radio" [value]="amount" name="amount">
            {{ amount }}
        </label>
        }
    </div>
    <div class="flex-1 flex justify-end gap-2">
        <button type="button" appButton (click)="closeDialog()">
            Cancel
        </button>
        <button type="button" appButton variant="primary" (click)="submitForm()">
            Continue and pay: {{ _selectedAmount | currency: 'USD': 'symbol' }}
        </button>
    </div>
</div>
