<div class="flex gap-0.5 rounded overflow-hidden">
    <app-navbar-widget-button
        [icon]="icon"
        [iconPosition]="iconPosition"
        [text]="text"
        [loading]="loading"
        [disabled]="disabled"
        (clicked)="onPrimaryBtnClick()">
    </app-navbar-widget-button>
    @if (dropdown) {
        <app-navbar-widget-button
            [disabled]="disabled"
            [text]="null"
            icon="arrow_drop_down"
            (clicked)="onSecondaryBtnClick()">
        </app-navbar-widget-button>
    }
</div>
